@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Carme&family=Comfortaa:wght@700&family=Happy+Monkey&family=Hind+Siliguri:wght@700&family=Nunito:wght@600;800&family=Roboto:wght@300;400&family=Rubik:wght@400;500;600&family=Sniglet&family=Staatliches&family=Viga&display=swap');

body {
  background-color: #F6F7FB;
  font-family: 'Carme', sans-serif;
}

.MuiContainer-root {
  margin-top: 80px;
}

.container {
  /* margin-top: 50px; */
  text-align: center;
}
